.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .img {
      max-width: 150px;
      max-height: 150px;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;

    .card {
      margin: 0 15px 35px;
      max-width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #333333;
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.03);
      }

      .img {
        display: block;
      }

      .name {
        text-transform: uppercase;
        font-size: 16px;
        padding: 7px 0;
      }
    }
  }
}
